* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;

  color-scheme: light dark;
  color: #ffffff;

  background-color: #16161d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;

  grid-column: 2;
}

#root {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-column: 2;
  align-items: stretch;
  justify-content: flex-start;
}

@media (max-width: 1024px) {
  body {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  #root {
    grid-column: 1;
  }
}

a {
  font-weight: 500;
  color: #5b5fa8;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  padding: 10px 15px;
  border-radius: 10px;
}

input[type="text"], input[type="password"], input[type="email"] {
  margin: 2px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #424248;
}

button {
  border-radius: 10px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  margin: 1px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #16161d;
  cursor: pointer;
  transition: background-color 0.25s;
  color: white;
}

button.delete {
  background-color: #b33a3a;
  border-color: #b33a3a;
  font-size: 12px;
}

button.delete-shop {
  background-color: #b33a3a;
  border-color: #b33a3a;
}

button.add {
  background-color: #5b5fa8;
  border-color: #5b5fa8;
}

button:hover {
  background-color: #1a1a1a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button a {
  color: white;
  text-decoration: none;
}

button a:hover {
  text-decoration: none;
  color: white;
}

#shops-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 2px 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.25s;
}

li:hover {
  background-color: #0f0f14;
}

li p {
  padding: 0;
  margin: 0;
}

#header {
  display: flex;
  justify-content: space-between;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: #1d1e20;
  border: 2px solid #ccc;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 2px 2px;
}


input[type="checkbox"]:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  padding: 2px 2px;
  font-size: 12px;
  color: #1d1e20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#list-input-container {
  display: flex;
  background-color: #424248;
  border-radius: 10px;
}

form#list-form {
  padding-top: 10px;
  padding-bottom: 20px;
}

div#suggestions-container {
  background-color: #1a1a1a;
  margin: 0 8px;
  border-radius: 0 0 4px 4px;
}

div#suggestions-container li {
  padding: 8px 8px;
}

div#suggestions-container li:hover {
  background-color: #0f0f0f;
  cursor: pointer;
}

.shopping-list-item {
  display: flex;
  align-items: center;
}

div.shop {
  background-color: #2b2b32;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

#add-shop {
  margin: 8px;
}

form#login {
  padding: 20px;
  border-radius: 5px;
  background-color: #2b2b32;
}

div.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.list-header a {
  color: #5b5fa8;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-frame {
  border: 1px solid #424248;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}